*{
    box-sizing: border-box;
    /* "The site uses a sans-serif font" */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* Reminder to self: start with smallest-size/phone and then to largets/desktop, as per Dan recommendation */

/* "For devices less than 768px wide" */

/* body */
body {
    display: flex;
    flex-direction: column;
}

 /* Header*/

    header {
        background-color: #120323;
        color: #97bf04;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

/* Puffin related - cont. & fig + img  */

    figure figcaption h2 {
        color: #120323;
    }

    #container {
        align-items: center;
        margin-top: 2rem;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    figure img{
        border: .2rem solid #d9043d;
        max-width: 100%;
    }

/* Aside */
    aside {
        background-color: #97bf04;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        }

/* Footer */
footer {
    background-color: #d9043d;
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}